@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply h-full;
  }

  body {
    @apply bg-background text-text;
  }
}

@layer components {
  @keyframes progress-animation {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }

  .loading {
    animation: progress-animation 1000ms ease 400ms infinite;
  }
}
